a {
  text-decoration: none;
  color: #5f6368;
}

.LikeViewContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  width: 100%;
  font-weight: 700;
}
.Action {
  font-size: 0.9rem;
  background: white;
  padding: 0.25rem 0.5rem;
  color: #d0021b;
}

.Action:hover {
  background: #d0021b;
  color: white;
}
