.HomeContainer {
  margin-bottom: 4rem;
}

.LoadMoreButton {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

button:disabled {
  border: none;
  cursor: not-allowed;
}

button:disabled:hover {
  background: #d0021b;
  color: white;
}
