.Header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 1rem auto;
  max-width: 800px;
  margin-bottom: 2rem;
  justify-items: center;
  align-items: center;
}

@media (max-width: 600px) {
  .Header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 1rem;
  }
}

.Header a {
  margin: 0.5rem 1rem;
  text-decoration: none;
  font-weight: 700;
}

.Brand {
  font-size: 2rem;
  color: #d0021b;
}

.Header button {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  background: white;
  color: #d0021b;
  font-weight: 700;
  border-radius: 4px;
  outline: none;
  border: 1px solid #d0021b;
  cursor: pointer;
}

@media (max-width: 370px) {
  .Header button {
    font-size: 0.8rem;
  }
}

.Header button:hover {
  background: #d0021b;
  color: white;
}
