header {
  margin-bottom: 1rem;
}

.HeaderContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
}

a {
  text-decoration: none;
}

.Brand {
  color: #d0021b;
  font-weight: 700;
  font-size: 2rem;
}

@media screen and (max-width: 400px) {
  .HeaderContainer {
    justify-content: space-between;
    padding: 1rem;
  }

  .Button {
    margin: 1rem 0;
  }
}
